@import "./variables";

@mixin background-size {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@mixin parallax-background($file) {
  background: url($file) no-repeat center center fixed;
  @include background-size();
}
