//Colors
//Darkmode
$col-black-dmode: #342e37;
$col-black-dmode-nav: #342e3750;
$col-green-dmode: #9fd356;
$col-green-dmode-info: #9fd356d3;
$col-white-dmode: #fafffd;
$col-orange-dmode: #fa824c;
$col-blue-dmode: #3c91e6;
$col-blue-dmode-info: #b7d7f8d3;
//Lightmode
$col-black-lmode: #2d3142;
$col-bluegrey-lmode: #4f5d75;
$col-grey-lmode: #bfc0c0;
$col-white-lmode: #ffffff;
$col-orange-lmode: #ef8354;

//Font-sizes
$font-h1: 55px;
$font-h2: 40px;
$font-h3: 34px;
$font-p: 21px;
